#modal__notification {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: -1;
}

.modal__notification--main {
    margin: 0 auto;
    background: yellow;
    padding: 5px;
    border-radius: 10px;
    min-width: 200px;
    height: 0;
    text-align: center;
    transform-origin: bottom;
    transition: 0.3s ease-out;
    overflow: hidden;
    z-index: 2;
}



.comback {
    color: red;
    margin-left: 10px;
}
