.modal__notification {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.modal__notification--main {
    margin: 0 auto;
    background: yellow;
    padding: 5px;
    border-radius: 10px;
    min-width: 200px;
    text-align: center;
    transform-origin: center;
    animation: notification 0.3s linear;
    z-index: 2;
}

.active_notification {
    display: none;
}

@keyframes notification {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.comback {
    color: red;
    margin-left: 10px;
}